.menu-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
}

.menu-content.show {
    display: block;
}

.menu-content ul {
    padding: 1rem;
}




.menu-content ul{
    padding: 0 !important;
}




.submenuItems {
    transition: max-height 0.3s ease-out;
}

/* Default hidden */
.sidebar {
    display: none;
}

/* Show sidebar on small screens when toggled */
.sidebar.open {
    display: block;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
}
