.custom-tag {
    background-color: white;
    border: 1px solid black;
    padding: 0.25rem 0.75rem; /* Tương đương với px-3 py-1 */
    border-radius: 20px; /* Sử dụng giá trị px theo ý muốn */
    color: black; /* Thay màu sắc cho text nếu cần */
    transition: background-color 0.3s ease;
}

.custom-tag:hover {
    background-color: #e5e7eb;
}
/* css thông tin mua hàng */

.sticky-container {
    position: relative; /* Đảm bảo rằng phần tử chứa có position relative */
}

/* Đảm bảo phần tử sticky không bị che khuất */
.sticky-element {
    position: sticky;
    top: 0; /* Đặt phần tử cố định ở đỉnh viewport */
    z-index: 10; /* Đảm bảo phần tử không bị chồng lên bởi các phần tử khác */
    margin-bottom: 1rem; /* Thêm khoảng cách dưới để không bị cắt bớt */
}


/* Section 1,3 */
/* Đảm bảo các phần nội dung ban đầu được hiển thị */
.lesson-content, .section-3-content {
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    overflow: hidden;
    max-height: 1000px; /* Cung cấp một giá trị lớn hơn để đảm bảo phần nội dung hiển thị hết */
    opacity: 1;
}

/* Khi bị thu gọn */
.lesson-content.collapsed, .section-3-content.collapsed {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0); /* Thu nhỏ phần nội dung để tạo hiệu ứng mờ dần */
}

/* Để tránh trường hợp nội dung bị chồng lên nhau khi thu gọn */
.lesson-content, .section-3-content {
    will-change: max-height, opacity, transform;
}








