/* Phần container-wrap */
.max-w-custom {
    max-width: 1330px;
}

/* chủ đề phổ biến */


/* Giảng viên */
.carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}
.carousel-slide {
    min-width: 100%;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    button {
        font-size: 0.75rem; /* Adjust button size on smaller screens */
    }
}


/*  */
.dropdown-menu {
    display: none;
    /* Ẩn menu mặc định */
}

.dropdown-menu.hidden {
    display: none;
}

.dropdown-menu.block {
    display: block;
}

.overlay {
    display: none;
    /* Ẩn lớp phủ nền */
}

/*  */
.overlay.block {
    display: block;
    /* Hiển thị lớp phủ nền */
}

/* Nút Sắp xếp theo */
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}
