/* Phần container-wrap */
.max-w-custom {
    max-width: 1330px;
}

/* chủ đề phổ biến */
.slide-show {
    position: relative;
    overflow: hidden;
    /* width: 100%;
    max-width: 1280px;
    margin: 0 auto; */
}

.slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

/* Giảng viên */
.slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}



/*  */
.dropdown-menu {
    display: none;
    /* Ẩn menu mặc định */
}

.dropdown-menu.hidden {
    display: none;
}

.dropdown-menu.block {
    display: block;
}

.overlay {
    display: none;
    /* Ẩn lớp phủ nền */
}

/*  */
.overlay.block {
    display: block;
    /* Hiển thị lớp phủ nền */
}

/* Nút Sắp xếp theo */
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}
